body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around; /* Adjust as necessary for layout */
    padding: 20px;
}

.intro, .ad-sidebar {
    flex: 1;
}

.ad-sidebar {
    /* Adjust the width as per your design requirements */
    width: 100px;
    margin: 0 auto; /* This will center the ad if the sidebar has no other content */
}

.ad-sidebar img {
    width: 500%; /* This will make the image responsive, adjusting to the width of the sidebar */
    height: auto; /* This will maintain the aspect ratio of the image */
}


.ad-bottom {
    text-align: center;
    padding: 20px;
}

.ad {
    border: 2px solid #007bff; /* Placeholder styling for ads */
    padding: 20px;
    margin: 10px 0;
    background-color: #f0f0f0;
}

.buttons a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #0056b3;
}

footer {
    padding: 10px 0;
}
