body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Include padding in the width calculation */
}


.intro {
    flex-grow: 1;
    flex-shrink: 1; /* Allows the section to shrink if necessary */
}

.ad-sidebar {
    flex-shrink: 0; /* Prevents the ad sidebar from shrinking too much */
    max-width: 200px;
}


.ad-sidebar img {
    max-width: 200%; /* Allows the image to scale down */
    height: auto;
}


.ad-bottom {
    text-align: center;
    padding: 20px;
}

.ad {
    border: 2px solid #007bff; /* Placeholder styling for ads */
    padding: 20px;
    margin: 10px 0;
    background-color: #f0f0f0;
}

.buttons a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #0056b3;
}

footer {
    padding: 10px 0;
}
