body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ensures at least full viewport height */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}



.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the ad to the bottom of the main content */
}



.intro {
    flex-grow: 1;
    flex-shrink: 1; /* Allows the section to shrink if necessary */
}

.ad-sidebar {
    display: flex;
    justify-content: flex-end; /* Align children to the right */
    max-width: 300px; /* Adjust this as necessary */
    overflow: hidden; /* Optional: hides parts of the image that overflow */
}


.ad-sidebar img {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the full image is visible */
}



@media (min-width: 768px) { /* For larger screens */
    .ad-sidebar img {
        max-width: none; /* Allows the image to exceed the 200px limit if needed */
        width: 20vw; /* Example: Adjusts width based on the viewport width */
    }
}

@media (max-width: 768px) { /* For smaller screens */
    .ad-sidebar img {
        width: 50vw; /* Larger percentage of the viewport width on smaller screens */
    }
}




.ad-bottom {
    text-align: center;
    padding: 20px;
}

.ad {
    border: 2px solid #000000; /* Placeholder styling for ads */
    padding: 20px;
    margin: 10px 0;
    background-color: #f0f0f0;
}

.buttons a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: #007bff;
    transition: background-color 0.3s;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Pushes the footer to the bottom */
}


